<div>
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="workouts?.length === 0">
    <span jhiTranslate="nitetrainApp.workout.home.notFound">No Workouts found</span>
  </div>

  <div *ngIf="workouts && workouts.length > 0">
    <ng-container *ngFor="let workout of workouts">
      <div class="workout-card">
        <p class="workout-title">{{ workout.title }}</p>
        <p>{{ workout.description }}</p>
        <p *ngIf="workout.time">Time: {{ workout.time }}</p>
        <ul *ngFor="let workoutStep of workout.workoutSteps">
          <li>{{ workoutStep.title }}<br /></li>
        </ul>
        <br />
        <p><strong>Scaling: </strong>{{ workout.scaling }}</p>
        <p>{{ workout.time }}</p>
        <ng-container *ngIf="workout.intermediateDescription && workout.intermidateSteps">
          <strong>Intermediate</strong>
          {{ workout.intermediateDescription }}
          <ul *ngFor="let workoutStep of workout.intermidateSteps">
            <li>{{ workoutStep.title }}<br /></li>
          </ul>
        </ng-container>
        <ng-container *ngIf="workout.beginnerDescription && workout.beginnerSteps">
          <strong>Beginner</strong><br />
          {{ workout.beginnerDescription }}
          <ul *ngFor="let workoutStep of workout.beginnerSteps">
            <li>{{ workoutStep.title }}<br /></li>
          </ul>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
