.workout-card {
  box-shadow: 0 12px 24px rgb(0 0 0 / 50%);
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  background-color: #f8f9ff;
}

.workout-title {
  font-size: large;
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
}
