<section class="section-contact-us">
  <div class="row">
    <div class="contact-us">
      <div class="contact-us-form">
        <form action="#" class="form">
          <div>
            <h2>Contact Us</h2>
          </div>
          <br />
          <div>
            <input type="text" placeholder="Your Full name" id="name" required />
          </div>
          <br />
          <div>
            <input type="email" placeholder="Your Email address" id="email" required />
          </div>
          <br />
          <div>
            <textarea rows="4" cols="50" placeholder="Add your question or comments here..." id="comment" required></textarea>
          </div>
          <br />
          <br />
          <div>
            <button class="btn">Next step &rarr;</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
