<div class="about-me-container">
  <div class="row">
    <div class="about-me">
      <figure class="about-meshape">
        <img src="../../../content/images/Blank_man_placeholder.svg" alt="Person on a tour" class="about-meimg" />
        <figcaption class="about-mecaption">Franky Besttrainer</figcaption>
      </figure>
      <div class="about-metext">
        <h1>About Me</h1>
        <p>
          Welcome to my training site, I hope you like it. I have been a personal trainer for over twenty years. However, I was a fitness
          fanatic my entire life. I truly enjoy working out, I do it all the time even when I'm not training. I truly have a passion for
          this and I want to share my skills with others to help them on their journey to see a transformation in themselves. A change for a
          stronger, faster, more youthful self.
        </p>
        <p>
          Feel free to sign up, this will give you visibility to my workouts, videos, and personal training prices. Contact me using the
          Contact Us page to set up training at my facility or personal training private in your home.
        </p>
      </div>
    </div>
  </div>
</div>
