<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="price">
      <h2 data-cy="priceDetailsHeading"><span jhiTranslate="nitetrainApp.price.detail.title">Price</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ price.id }}</span>
        </dd>
        <dt><span jhiTranslate="nitetrainApp.price.name">Name</span></dt>
        <dd>
          <span>{{ price.name }}</span>
        </dd>
        <dt><span jhiTranslate="nitetrainApp.price.location">Location</span></dt>
        <dd>
          <span>{{ price.location }}</span>
        </dd>
        <dt><span jhiTranslate="nitetrainApp.price.description">Description</span></dt>
        <dd>
          <span>{{ price.description }}</span>
        </dd>
        <dt><span jhiTranslate="nitetrainApp.price.cost">Cost</span></dt>
        <dd>
          <span>{{ price.cost }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/price', price.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
