<div>
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="jh-card">
    <h1 class="pricing-title">Pricing</h1>
    <p>One Month Challenge is prescheduled in advance, please Sign Up to view workout videos.</p>

    <div class="alert alert-warning" id="no-result" *ngIf="prices?.length === 0">
      <span jhiTranslate="nitetrainApp.price.home.notFound">No Prices found</span>
    </div>

    <div class="table-responsive table-entities" id="entities" *ngIf="prices && prices.length > 0">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr>
            <th scope="col">
              <div class="d-flex">
                <span jhiTranslate="nitetrainApp.price.name">Workout Name</span>
              </div>
            </th>
            <th scope="col">
              <div class="d-flex">
                <span jhiTranslate="nitetrainApp.price.location">Location</span>
              </div>
            </th>
            <th scope="col">
              <div class="d-flex">
                <span jhiTranslate="nitetrainApp.price.description">Workout Description</span>
              </div>
            </th>
            <th scope="col">
              <div class="d-flex">
                <span jhiTranslate="nitetrainApp.price.cost">Cost</span>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let price of prices; trackBy: trackId" data-cy="entityTable">
            <td>{{ price.name }}</td>
            <td>{{ price.location }}</td>
            <td>{{ price.description }}</td>
            <td>{{ price.cost | currency }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
