<header class="head">
  <div class="row">
    <div class="col-md-9">
      <!--      <h1 class="display-4"><span jhiTranslate="home.title">Nitetrain Fitness</span></h1>-->

      <!--      <p class="lead" jhiTranslate="home.subtitle">subtitle</p>-->

      <div class="logo-container">
        <img src="../../content/images/NitetrainFitness-logos_white.png" alt="Logo" class="logo" />
      </div>
      <div class="mission-container">
        <h1 class="mission">
          <span id="mission-main">Your body</span>
          <span id="mission-sub" style="color: #e7e7e7">is meant to move</span>
        </h1>
      </div>
    </div>
  </div>
</header>
