<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-workout-step-heading"
        data-cy="WorkoutStepCreateUpdateHeading"
        jhiTranslate="nitetrainApp.workoutStep.home.createOrEditLabel"
      >
        Create or edit a Workout Step
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="nitetrainApp.workoutStep.title" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('title')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="nitetrainApp.workoutStep.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
          <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('description')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="nitetrainApp.workoutStep.stepNumber" for="field_stepNumber">Step Number</label>
          <input
            type="number"
            class="form-control"
            name="stepNumber"
            id="field_stepNumber"
            data-cy="stepNumber"
            formControlName="stepNumber"
          />
          <div *ngIf="editForm.get('stepNumber')!.invalid && (editForm.get('stepNumber')!.dirty || editForm.get('stepNumber')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('stepNumber')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('stepNumber')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="nitetrainApp.workoutStep.workout" for="field_workout">Workout</label>
          <select
            class="form-control"
            id="field_workout"
            data-cy="workout"
            name="workout"
            formControlName="workout"
            [compareWith]="compareWorkout"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="workoutOption" *ngFor="let workoutOption of workoutsSharedCollection">{{ workoutOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="nitetrainApp.workoutStep.beginnerWorkout" for="field_beginnerWorkout"
            >Beginner Workout</label
          >
          <select
            class="form-control"
            id="field_beginnerWorkout"
            data-cy="beginnerWorkout"
            name="beginnerWorkout"
            formControlName="beginnerWorkout"
            [compareWith]="compareBeginnerWorkout"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="beginnerWorkoutOption" *ngFor="let beginnerWorkoutOption of beginnerWorkoutsSharedCollection">
              {{ beginnerWorkoutOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="nitetrainApp.workoutStep.intermediateWorkout" for="field_intermediateWorkout"
            >Intermediate Workout</label
          >
          <select
            class="form-control"
            id="field_intermediateWorkout"
            data-cy="intermediateWorkout"
            name="intermediateWorkout"
            formControlName="intermediateWorkout"
            [compareWith]="compareIntermediateWorkout"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="intermediateWorkoutOption" *ngFor="let intermediateWorkoutOption of intermediateWorkoutsSharedCollection">
              {{ intermediateWorkoutOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
