<div>
  <h2 id="page-heading" data-cy="WorkoutStepHeading">
    <span jhiTranslate="nitetrainApp.workoutStep.home.title">Workout Steps</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="nitetrainApp.workoutStep.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-workout-step"
        [routerLink]="['/workout-step/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="nitetrainApp.workoutStep.home.createLabel"> Create a new Workout Step </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="workoutSteps?.length === 0">
    <span jhiTranslate="nitetrainApp.workoutStep.home.notFound">No Workout Steps found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="workoutSteps && workoutSteps.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="title">
            <div class="d-flex">
              <span jhiTranslate="nitetrainApp.workoutStep.title">Title</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="nitetrainApp.workoutStep.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="stepNumber">
            <div class="d-flex">
              <span jhiTranslate="nitetrainApp.workoutStep.stepNumber">Step Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="workout.id">
            <div class="d-flex">
              <span jhiTranslate="nitetrainApp.workoutStep.workout">Workout</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="beginnerWorkout.id">
            <div class="d-flex">
              <span jhiTranslate="nitetrainApp.workoutStep.beginnerWorkout">Beginner Workout</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="intermediateWorkout.id">
            <div class="d-flex">
              <span jhiTranslate="nitetrainApp.workoutStep.intermediateWorkout">Intermediate Workout</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let workoutStep of workoutSteps; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/workout-step', workoutStep.id, 'view']">{{ workoutStep.id }}</a>
          </td>
          <td>{{ workoutStep.title }}</td>
          <td>{{ workoutStep.description }}</td>
          <td>{{ workoutStep.stepNumber }}</td>
          <td>
            <div *ngIf="workoutStep.workout">
              <a [routerLink]="['/workout', workoutStep.workout.id, 'view']">{{ workoutStep.workout.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="workoutStep.beginnerWorkout">
              <a [routerLink]="['/beginner-workout', workoutStep.beginnerWorkout.id, 'view']">{{ workoutStep.beginnerWorkout.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="workoutStep.intermediateWorkout">
              <a [routerLink]="['/intermediate-workout', workoutStep.intermediateWorkout.id, 'view']">{{
                workoutStep.intermediateWorkout.id
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/workout-step', workoutStep.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/workout-step', workoutStep.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(workoutStep)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="workoutSteps && workoutSteps.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
